.header {
    width:100%;
    height:70px;
    line-height: 70px;
}
.nav__wrapper {
    display: flex;
    position: fixed;
    background-color: white;
    top:0;
    left:0;

    align-items: center;
    justify-content: space-around;
}
.logo {
    display: flex;
    align-items: center;

    column-gap: 8px;
}
.logo img {
    width:40px;
    height: 40px;
}
.logo h1{
    font-size:1.2rem ;
    font-weight: 700;
    color:var(--primary-color);

}
.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;

}
.nav__item a{
    color:var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}



