/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
 
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a ,li{
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

img{
  width:100%;

}
section{
  padding:60px 0px;
}
.section__title{
  color:var(--primary-color);
  font-weight: 600;
}
.title > h2{
  display: inline-block;
  border-bottom: 2px solid rgb(3, 3, 77);
  margin:2rem 0;
}
.cursor__icon{
  cursor: pointer;
  margin:0 0.2vmax;
  font-size: 20px;

}